.car-img {
    width: 180px;
    height: 134px;
    object-fit: cover
}

body {
    background-image: url("https://wallpapermemory.com/uploads/252/racing-race-cars-background-1080p-298837.jpg");
}

header {
    margin-bottom: 40px;
}

.footer-for-empty {
    position: absolute;
}

.footer-with-result {
    position: static;
}

#add-new-query {
    padding: 20px;
    border-radius: 2%;
    opacity: 0.9;
}

.highlight {
    box-shadow: 0 0 3px 3px;
    opacity: 1 !important;
}

#add-new-query:hover {
    opacity: 1;
}

li.nav-item:hover {
    background: black;
}

#cancel-save-query-button,
#save-query-button {
    display: none;
}